@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* 1920 */

.head__block {
display: flex;
flex-direction: row;
padding: 24px 191px;
background-color: rgb(87, 60, 60);
}

.head__logo {
display: flex;
flex-direction: column;
justify-content: center;
width: 100px;
height: 79px;
}

.head__logo__BSE {
font-family: 'Impact';
text-align: center;
font-weight: 900;
font-size: 58px;

color: white;
}

.head__logo__russia {
font-family: 'Raleway';
text-align: center;
font-weight: 800;
font-size: 20px;
letter-spacing: 3px;

color: rgb(255, 94, 0);
}

.header__main {
display: flex;
flex-direction: row;
}

.nav__tab {
justify-content: space-between;
padding: 20px 60px;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
text-transform: uppercase;

color: #FFFFFF;
}

.nav__tab span {
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
text-transform: uppercase;

color: #FFFFFF;
}

.header__button__text {
	
}